.account-item{
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
    padding: 5px !important;
}

.fingerPrintdiv{
    text-align: center;
}

.fingerPrintdiv img{
    width: 40px;
}

#map { /* Must bigger size than 100x100 pixels */
    width: 100%;
    min-height: 25rem;
}
